<header data-lp class="header">
    <div class="container">
        <div class="header__content">
            <a href="#" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="menu-header">
                <ul class="menu-header__nav">
                    <li class="menu-header__item">
                        <a href="#" class="menu-header__link">
                            <span>Каталог поселков</span>
                            <img src="img/arrow1.svg" alt="">
                        </a>
                        <div class="menu-header__dropdowm">
                            <div class="menu-header__body">
                                <div class="menu-header__column column1">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Шоссе</div>
                                        <ul>
                                            <li>
                                                <a href="#">Новорижское</a>
                                            </li>
                                            <li>
                                                <a href="#">Ярославское</a>
                                            </li>
                                            <li>
                                                <a href="#">Дмитровское</a>
                                            </li>
                                            <li>
                                                <a href="#">Каширское</a>
                                            </li>
                                            <li>
                                                <a href="#">Новорязанское</a>
                                            </li>
                                            <li>
                                                <a href="#">Рогачевское</a>
                                            </li>
                                            <li>
                                                <a href="#">Симферопольское</a>
                                            </li>
                                            <li>
                                                <a href="#">Ленинградское</a>
                                            </li>
                                            <li>
                                                <a href="#">Новокаширское</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column2">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Расстояние<br> от МКАД</div>
                                        <ul>
                                            <li>
                                                <a href="#">До 20 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 30 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 50 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 70 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 100 км</a>
                                            </li>
                                            <li>
                                                <a href="#">Более 100 км</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column3">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Район</div>
                                        <ul>
                                            <li>
                                                <a href="#">Истринский</a>
                                            </li>
                                            <li>
                                                <a href="#">Дмитровский</a>
                                            </li>
                                            <li>
                                                <a href="#">Домодедово</a>
                                            </li>
                                            <li>
                                                <a href="#">Пушкинский</a>
                                            </li>
                                            <li>
                                                <a href="#">Раменский</a>
                                            </li>
                                            <li>
                                                <a href="#">Чеховский</a>
                                            </li>
                                            <li>
                                                <a href="#">Клинский</a>
                                            </li>
                                            <li>
                                                <a href="#">Сергиево-Посадский</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column4">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Природа</div>
                                        <ul>
                                            <li>
                                                <a href="#">У леса</a>
                                            </li>
                                            <li>
                                                <a href="#">У воды</a>
                                            </li>
                                            <li>
                                                <a href="#">У водохранилища</a>
                                            </li>
                                            <li>
                                                <a href="#">У озера</a>
                                            </li>
                                            <li>
                                                <a href="#">У реки</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column5">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">По цене</div>
                                        <ul>
                                            <li>
                                                <a href="#">Недорогие</a>
                                            </li>
                                            <li>
                                                <a href="#">До 100 тыс. за сотку</a>
                                            </li>
                                            <li>
                                                <a href="#">До 200 тыс. за сотку</a>
                                            </li>
                                            <li>
                                                <a href="#">До 300 тыс. за сотку</a>
                                            </li>
                                            <li>
                                                <a href="#">До 500 тыс. за сотку</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column6">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">По названию</div>
                                        <ul>
                                            <li>
                                                <a href="#">Барыбино</a>
                                            </li>
                                            <li>
                                                <a href="#">Братовщина</a>
                                            </li>
                                            <li>
                                                <a href="#">Ерыково</a>
                                            </li>
                                            <li>
                                                <a href="#">Калистово</a>
                                            </li>
                                            <li>
                                                <a href="#">Карцево</a>
                                            </li>
                                            <li>
                                                <a href="#">Коськово</a>
                                            </li>
                                            <li>
                                                <a href="#">Кузьминское Парк</a>
                                            </li>
                                            <li>
                                                <a href="#">Лобаново</a>
                                            </li>
                                            <li>
                                                <a href="#">Медведки</a>
                                            </li>
                                            <li>
                                                <a href="#">Оттепель</a>
                                            </li>
                                            <li>
                                                <a href="#">Пахра Ривер Парк</a>
                                            </li>
                                            <li>
                                                <a href="#">Пузиково</a>
                                            </li>
                                            <li>
                                                <a href="#">Рига Грин</a>
                                            </li>
                                            <li>
                                                <a href="#">Рижские Зори</a>
                                            </li>
                                            <li>
                                                <a href="#">Рыбушки</a>
                                            </li>
                                            <li>
                                                <a href="#">Сбоево</a>
                                            </li>
                                            <li>
                                                <a href="#">Серебряный ручей</a>
                                            </li>
                                            <li>
                                                <a href="#">Тюльпаново 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Филипповское</a>
                                            </li>
                                            <li>
                                                <a href="#">Яркое</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="menu-header__link">
                            <span>Карта поселков</span>
                        </a>
                    </li>
                    <li class="menu-header__item">
                        <a href="#" class="menu-header__link">
                            <span>Участки</span>
                            <img src="img/arrow1.svg" alt="">
                        </a>
                        <div class="menu-header__dropdowm">
                            <div class="menu-header__body">
                                <div class="menu-header__column column1">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Шоссе</div>
                                        <ul>
                                            <li>
                                                <a href="#">Новорижское</a>
                                            </li>
                                            <li>
                                                <a href="#">Ярославское</a>
                                            </li>
                                            <li>
                                                <a href="#">Дмитровское</a>
                                            </li>
                                            <li>
                                                <a href="#">Каширское</a>
                                            </li>
                                            <li>
                                                <a href="#">Новорязанское</a>
                                            </li>
                                            <li>
                                                <a href="#">Рогачевское</a>
                                            </li>
                                            <li>
                                                <a href="#">Симферопольское</a>
                                            </li>
                                            <li>
                                                <a href="#">Ленинградское</a>
                                            </li>
                                            <li>
                                                <a href="#">Новокаширское</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column2">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Расстояние<br> от МКАД</div>
                                        <ul>
                                            <li>
                                                <a href="#">До 20 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 30 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 50 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 70 км</a>
                                            </li>
                                            <li>
                                                <a href="#">До 100 км</a>
                                            </li>
                                            <li>
                                                <a href="#">Более 100 км</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column3">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Район</div>
                                        <ul>
                                            <li>
                                                <a href="#">Истринский</a>
                                            </li>
                                            <li>
                                                <a href="#">Дмитровский</a>
                                            </li>
                                            <li>
                                                <a href="#">Домодедово</a>
                                            </li>
                                            <li>
                                                <a href="#">Пушкинский</a>
                                            </li>
                                            <li>
                                                <a href="#">Раменский</a>
                                            </li>
                                            <li>
                                                <a href="#">Чеховский</a>
                                            </li>
                                            <li>
                                                <a href="#">Клинский</a>
                                            </li>
                                            <li>
                                                <a href="#">Сергиево-Посадский</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column4">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">Природа</div>
                                        <ul>
                                            <li>
                                                <a href="#">У леса</a>
                                            </li>
                                            <li>
                                                <a href="#">У воды</a>
                                            </li>
                                            <li>
                                                <a href="#">У водохранилища</a>
                                            </li>
                                            <li>
                                                <a href="#">У озера</a>
                                            </li>
                                            <li>
                                                <a href="#">У реки</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column5">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">По цене</div>
                                        <ul>
                                            <li>
                                                <a href="#">Недорогие</a>
                                            </li>
                                            <li>
                                                <a href="#">До 100 тыс. за сотку</a>
                                            </li>
                                            <li>
                                                <a href="#">До 200 тыс. за сотку</a>
                                            </li>
                                            <li>
                                                <a href="#">До 300 тыс. за сотку</a>
                                            </li>
                                            <li>
                                                <a href="#">До 500 тыс. за сотку</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-header__column column6">
                                    <div class="menu-header__list">
                                        <div class="menu-header__title">По названию</div>
                                        <ul>
                                            <li>
                                                <a href="#">Барыбино</a>
                                            </li>
                                            <li>
                                                <a href="#">Братовщина</a>
                                            </li>
                                            <li>
                                                <a href="#">Ерыково</a>
                                            </li>
                                            <li>
                                                <a href="#">Калистово</a>
                                            </li>
                                            <li>
                                                <a href="#">Карцево</a>
                                            </li>
                                            <li>
                                                <a href="#">Коськово</a>
                                            </li>
                                            <li>
                                                <a href="#">Кузьминское Парк</a>
                                            </li>
                                            <li>
                                                <a href="#">Лобаново</a>
                                            </li>
                                            <li>
                                                <a href="#">Медведки</a>
                                            </li>
                                            <li>
                                                <a href="#">Оттепель</a>
                                            </li>
                                            <li>
                                                <a href="#">Пахра Ривер Парк</a>
                                            </li>
                                            <li>
                                                <a href="#">Пузиково</a>
                                            </li>
                                            <li>
                                                <a href="#">Рига Грин</a>
                                            </li>
                                            <li>
                                                <a href="#">Рижские Зори</a>
                                            </li>
                                            <li>
                                                <a href="#">Рыбушки</a>
                                            </li>
                                            <li>
                                                <a href="#">Сбоево</a>
                                            </li>
                                            <li>
                                                <a href="#">Серебряный ручей</a>
                                            </li>
                                            <li>
                                                <a href="#">Тюльпаново 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Филипповское</a>
                                            </li>
                                            <li>
                                                <a href="#">Яркое</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="menu-header__link">
                            <span>Акции</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-header__link">
                            <span>Новости</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-header__link">
                            <span>Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__right">
                <div class="header__contacts">
                    <a href="#" class="header__contact">
                        <img src="img/favourite-active.svg" alt="">
                    </a>
                    <a href="#" class="header__contact">
                        <svg aria-hidden="true" width="14" height="14">
                            <use xlink:href="img/sprite.svg#whatsapp"></use>
                        </svg>
                    </a>
                    <a data-da=".menu-header, 650, last" href="tel:79999999999" class="header__phone">+7 (999) 999 99
                        99</a>
                </div>
                <div class="header__burger">
                    <div class="icon-menu">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>