<div class="block-help-offer block1">
    <div class="container">
        <div class="block-help-offer__content">
            <img loading="lazy" src="img/image30.webp" alt="" class="block-help-offer__bg">
            <div class="block-help-offer__body">
                <div class="block-help-offer__item">
                    <div class="block-help-offer__top">
                        <div class="title1">
                            Есть вопросы
                            <br>
                            или нужна помощь
                            <span> с подбором участка?</span>
                        </div>
                        <p>
                            Оставьте заявку, специалист свяжется с вами
                            и бесплатно проконсультирует по всем вопросам.
                        </p>
                    </div>
                    <form action="#" class="form">
                        <div class="form__inputs">
                            <div class="form__input">
                                <input autocomplete="off" type="text" name="form[]" placeholder="Ваше имя">
                            </div>
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]"
                                    placeholder="Номер телефона">
                            </div>
                        </div>
                        <div class="checkbox">
                            <input data-required id="c_33" class="checkbox__input" type="checkbox" value="33"
                                name="form[5]">
                            <label for="c_33" class="checkbox__label">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    Отправляя форму, вы подтверждаете, что ознакомились с политикой
                                    конфиденциальности и согласны на обработку персональных данных.
                                </span>
                            </label>
                        </div>
                        <button type="submit" class="btn">
                            Отправить заявку
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>