<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Статья</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-article block1">
                <div class="container">
                    <div class="block-article__content">
                        <div class="banner">
                            <img src="img/bg2.webp" alt="" class="banner__bg">
                            <div class="banner__content">
                                <div class="breadcrumbs">
                                    <div class="breadcrumbs__content">
                                        <ul>
                                            <li><a href="#">Главная</a></li>
                                            <li><a href="#">Блог</a></li>
                                            <li><span>Название статьи</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="banner__bottom">
                                    <h2 class="title1">
                                        Название статьи
                                    </h2>
                                    <div class="banner__icons">
                                        <div class="banner__icon">
                                            <svg aria-hidden="true" width="28" height="28">
                                                <use xlink:href="img/sprite.svg#share"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-article__descr">
                            <div class="block-article__navigation">
                                <div class="block-article__title">Содержание</div>
                                <ul>
                                    <li>
                                        <a data-goto=".introduction" data-goto-header href="#">
                                            <div class="block-article__number">1.</div>
                                            <span>Введение</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-goto=".famous-lifes" data-goto-header href="#">
                                            <div class="block-article__number">2.</div>
                                            <span>Самые известные натюрморты от знаменитых художников</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-goto=".history" data-goto-header>
                                            <div class="block-article__number">3.</div>
                                            <span>История натюрморта: от древности до современности:</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#" data-goto=".early-history" data-goto-header>
                                                    <span>Раннее упоминание натюрмортов в истории</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-goto=".natyurmort-vozrozhdeniya" data-goto-header>
                                                    <span>Натюрморт в эпоху Возрождения</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-goto=".natyurmort-barokko" data-goto-header>
                                                    <span>Натюрморт в эпоху Барокко</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-goto=".natyurmort-rokoko" data-goto-header>
                                                    <span>Натюрморт в эпоху Рококо</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" data-goto=".elements" data-goto-header>
                                            <div class="block-article__number">4.</div>
                                            <span>Элементы натюрморта в живописи и их символическое значение</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-goto="" data-goto-header>
                                            <div class="block-article__number">5.</div>
                                            <span>Другие символы в натюрмортах</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-article__column introduction">
                                <p>
                                    <span class="line">Натюрморт</span> — это жанр живописи, где главным элементом
                                    являются неживые
                                    объекты, нужным
                                    образом расположенные художником. Эти объекты могут быть предметами повседневной
                                    жизни: <span class="line">фрукты</span>, <span class="line">цветы</span>, книги,
                                    посуда, антикварные предметы
                                    и
                                    т.д. Главная задача
                                    натюрморта — не только в красивом изображении этих предметов, но и в передаче
                                    глубинного
                                    замысла через их композицию, цвет, текстуру и свет.
                                </p>
                                <blockquote>
                                    <p>
                                        Живопись - это занятие для слепцов, художник рисует
                                        не то, что видит, а то, что чувствует.
                                        <span class="strong">Пабло Пикассо</span>
                                    </p>
                                </blockquote>
                            </div>
                            <div class="block-article__column famous-lifes">
                                <h2 class="title1">
                                    Самые известные натюрморты <span>знаменитых художников</span>
                                </h2>
                                <div class="block-article__images">
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image42.webp" alt="">
                                        <p class="strong">
                                            Караваджо, «Корзина фруктов» (ок. 1595 г.)
                                        </p>
                                        <p>
                                            Одно из первых произведений, где натюрморт выступает в качестве основного
                                            предмета
                                            картины. Караваджо использовал контраст света и тени, чтобы подчеркнуть
                                            реалистичность фруктов.
                                        </p>
                                    </div>
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image43.webp" alt="">
                                        <p class="strong">
                                            Хуан Санчес Котан, "Айва, Капуста, Дыня и огурец" (ок. 1600 г.)
                                        </p>
                                        <p>
                                            Эта картина демонстрирует мастерство Котана в создании пространства и света,
                                            придающих предметам почти мистическое ощущение.
                                        </p>
                                    </div>
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image44.webp" alt="">
                                        <p class="strong">
                                            Франс Снейдерс, "Натюрморт на кухне" (ок. 1614 г.)
                                        </p>
                                        <p>
                                            Снейдерс известен своими богатыми и детализированными натюрмортами,
                                            подчеркивающими изобилие и разнообразие природы.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__column history">
                                <h2 class="title1">
                                    История: от древности
                                    <span>до современности</span>
                                </h2>
                                <div class="block-article__images">
                                    <div class="block-article__image early-history">
                                        <div class="block-article__title">
                                            Раннее упоминание натюрмортов в истории
                                        </div>
                                        <p>
                                            Истоки натюрморта уходят в древность, когда в Египте и Греции создавались
                                            изображения еды и предметов быта. Однако, как самостоятельный
                                            жанр живописи натюрморт начал формироваться только когда наступила эпоха
                                            Возрождения.
                                        </p>
                                    </div>
                                    <div class="block-article__image natyurmort-barokko">
                                        <div class="block-article__title">
                                            <div class="block-article__circle">1</div>
                                            <span>Натюрморт в эпоху Барокко</span>
                                        </div>
                                        <p>
                                            Эпоха Барокко привнесла в натюрморт более сложные композиции и богатый
                                            символизм.
                                        </p>
                                        <img loading="lazy" src="img/image45.webp" alt="">
                                        <p>
                                            Примером может служить работа Питера Клааса "Натюрморт Ванитас с
                                            автопортретом" (1628 г.), где представлены символы тщеславия и суеты.
                                        </p>
                                    </div>
                                    <div class="block-article__image natyurmort-vozrozhdeniya">
                                        <div class="block-article__title">
                                            <div class="block-article__circle">2</div>
                                            <span>Натюрморт в эпоху Возрождения</span>
                                        </div>
                                        <p>
                                            В это время натюрморт стал популярным в Европе, особенно в Италии и
                                            Нидерландах.
                                        </p>
                                        <img loading="lazy" src="img/image42.webp" alt="">
                                        <p>
                                            Характерным примером является работа Караваджо "Корзина фруктов" (ок. 1599
                                            г.), демонстрирующая реалистичное изображение фруктов с нюансами света и
                                            тени.
                                        </p>
                                    </div>
                                    <div class="block-article__image natyurmort-rokoko">
                                        <div class="block-article__title">
                                            <div class="block-article__circle">3</div>
                                            <span>Натюрморт в эпоху Рококо</span>
                                        </div>
                                        <p>
                                            В эпоху Рококо натюрморт становится более изысканным и утончённым.
                                        </p>
                                        <img loading="lazy" src="img/image46.webp" alt="">
                                        <p>
                                            Жан-Батист Симеон Шарден с его Натюрмортом с атрибутами искусства (1766 г.)
                                            иллюстрирует этот стиль.
                                        </p>
                                    </div>
                                    <div class="block-article__image">
                                        <div class="block-article__title">
                                            <div class="block-article__circle">4</div>
                                            <span>Классицизм и Романтизм</span>
                                        </div>
                                        <p>
                                            В период классицизма и романтизма натюрморт начинает использоваться для
                                            передачи более глубоких эмоций и идей.
                                        </p>
                                        <img loading="lazy" src="img/image47.webp" alt="">
                                        <p>
                                            Пример - "Натюрморт с фруктами бутылками и хлебом" Франциско Гойи (ок.
                                            1808-1812 г.).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__column">
                                <div class="interested-block-article">
                                    <div class="interested-block-article__title">Вас может заинтересовать</div>
                                    <div class="interested-block-article__body">
                                        <div class="interested-block-article__column">
                                            <div class="interested-block-article__image">
                                                <img loading="lazy" src="img/image48.webp" alt="">
                                            </div>
                                            <div class="interested-block-article__item">
                                                <p>
                                                    Портрет в живописи: знаменитые картины, история, виды, стили, жанры
                                                </p>
                                                <a href="#">Читать статью</a>
                                            </div>
                                        </div>
                                        <div class="interested-block-article__column">
                                            <div class="interested-block-article__image">
                                                <img loading="lazy" src="img/image49.webp" alt="">
                                            </div>
                                            <div class="interested-block-article__item">
                                                <p>
                                                    Морской пейзаж в живописи: лучшие картины, история и художники
                                                </p>
                                                <a href="#">Читать статью</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__column elements">
                                <div class="block-article__heading-complex">
                                    <h2 class="title1">
                                        История: от древности
                                        <span>до современности</span>
                                    </h2>
                                    <p>
                                        Каждый элемент в натюрморте может быть нагружен различными символическими
                                        значениями, которые зависят от культурного контекста, времени создания
                                        произведения и индивидуального замысла художника. Натюрморт как жанр предлагает
                                        бесконечные возможности для интерпретации и понимания окружающего мира через
                                        предметы нашего повседневного обихода.
                                    </p>
                                </div>
                                <div class="elements-block-article">
                                    <div class="elements-block-article__column">
                                        <div class="block-article__title">
                                            Что могут означать Цветы в Натюрмортах
                                        </div>
                                        <div class="elements-block-article__image">
                                            <img src="img/image50.webp" alt="">
                                            <p>
                                                Ван Гог «Ирисы»
                                            </p>
                                        </div>
                                        <div class="block-article__text">
                                            <p>
                                                <span class="line">Розы:</span> Красные розы символизируют страсть и
                                                любовь, белые — чистоту и
                                                невинность, а желтые — дружбу и заботу.
                                            </p>
                                            <p>
                                                <span class="line">Тюльпаны:</span> Олицетворяют красоту и совершенство,
                                                а в контексте голландской
                                                живописи также могут символизировать тщеславие.
                                            </p>
                                            <p>
                                                <span class="line">Лилии:</span> Белые лилии ассоциируются с чистотой и
                                                девственностью, в
                                                христианстве
                                                — с Девой Марией.
                                            </p>
                                            <p>
                                                <span class="line">Подсолнухи:</span> Символизируют солнце и оптимизм, а
                                                также могут означать
                                                преданность и верность.
                                            </p>
                                            <p>
                                                <span class="line">Маки:</span> Часто ассоциируются со сном и забвением,
                                                а также могут
                                                символизировать
                                                утраченные воспоминания или смерть.
                                            </p>
                                            <p>
                                                <span class="line">Орхидеи:</span> Олицетворяют роскошь, красоту и
                                                изысканность.
                                            </p>
                                            <p>
                                                <span class="line">Хризантемы:</span> В Азии символизируют долголетие и
                                                здоровье, а в западной
                                                культуре часто ассоциируются со смертью и скорбью.
                                            </p>
                                            <p>
                                                <span class="line">Ирисы:</span> Символизируют мудрость, надежду и веру.
                                            </p>
                                            <p>
                                                <span class="line">Фиалки:</span> Ассоциируются с скромностью и
                                                невинностью.
                                            </p>
                                            <p>
                                                <span class="line">Георгины:</span> Означают благородство, силу и
                                                элегантность.
                                            </p>
                                            <p>
                                                <span class="line">Каллы:</span> Символизируют великолепие и красоту, а
                                                в христианстве могут
                                                означать
                                                воскресение.
                                            </p>
                                            <p>
                                                <span class="line"> Нарциссы:</span> Часто ассоциируются с
                                                самовлюблённостью и эгоцентризмом, но
                                                также
                                                могут символизировать возрождение и новые начинания.
                                            </p>
                                            <p>
                                                <span class="line">Пионы:</span> В восточной культуре символизируют
                                                богатство и удачу, а также
                                                благополучие и любовь.
                                            </p>
                                            <p>
                                                <span class="line">Азалии:</span> Олицетворяют женскую красоту и
                                                утончённость.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="elements-block-article__column">
                                        <div class="block-article__title">
                                            Что могут означать Фрукты в Натюрмортах
                                        </div>
                                        <div class="elements-block-article__image">
                                            <img src="img/image51.webp" alt="">
                                            <p>
                                                Ван Гог «Ирисы»
                                            </p>
                                        </div>
                                        <div class="block-article__text">
                                            <p>
                                                <span class="line">Яблоки:</span> Часто символизируют знание, искушение
                                                и
                                                грехопадение, особенно в христианской традиции.
                                            </p>
                                            <p>
                                                <span class="line">Гранаты:</span> Олицетворяют плодородие и богатство
                                                из-за своего большого количества семян.
                                            </p>
                                            <p>
                                                <span class="line">Виноград:</span> Символизирует изобилие, плодородие
                                                и, в христианстве, Кровь Христа.
                                            </p>
                                            <p>
                                                <span class="line">Апельсины:</span> Часто ассоциируются с
                                                роскошью и богатством, особенно в эпоху Возрождения.
                                            </p>
                                            <p>
                                                <span class="line">Лимоны:</span> Иногда символизируют горечь жизни или
                                                долговечность.
                                            </p>
                                            <p>
                                                <span class="line">Персики:</span> В китайской культуре ассоциируются с
                                                бессмертием и долголетием.
                                            </p>
                                            <p>
                                                <span class="line">Хурма:</span> Часто символизирует успех и
                                                удачу.
                                            </p>
                                            <p>
                                                <span class="line">Клубника:</span> Может олицетворять
                                                чувственные удовольствия и наслаждение.
                                            </p>
                                            <p>
                                                <span class="line">Черешня:</span> Символизирует
                                                кратковременность и быстротечность момента.
                                            </p>
                                            <p>
                                                <span class="line">Ананас:</span> Выражает гостеприимство и
                                                экзотику.
                                            </p>
                                            <p>
                                                <span class="line">Сливы:</span> В восточной символике могут означать
                                                сохранение и защиту.
                                            </p>
                                            <p>
                                                <span class="line">Груши:</span> Иногда символизируют
                                                долголетие и богатство.
                                            </p>
                                            <p>
                                                <span class="line">Малина:</span> Часто ассоциируется с защитой и
                                                невинностью.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="elements-block-article__column">
                                        <div class="block-article__title">
                                            Бытовые Предметы
                                        </div>
                                        <div class="block-article__text">
                                            <p>
                                                1. Олицетворяют ход времени и его неумолимость.
                                            </p>
                                            <p>
                                                2. Могут символизировать знание, мудрость или даже тщеславие
                                                человеческого разума.
                                            </p>
                                            <p>
                                                3. Их горение может символизировать прохождение времени и хрупкость
                                                человеческой жизни.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="elements-block-article__column">
                                        <div class="block-article__title">
                                            Ткани и Материалы
                                        </div>
                                        <div class="block-article__text">
                                            <p>
                                                <span class="line">Скатерти:</span> Часто используются для добавления
                                                текстуры и глубины
                                                композиции. В зависимости от материала и узора могут символизировать
                                                различные социальные и культурные аспекты.
                                            </p>
                                            <p>
                                                <span class="line">Зеркала:</span> Могут символизировать самосознание
                                                или истину.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__column technique">
                                <h2 class="title1">
                                    Техники живописи
                                    <span>в натюрморте</span>
                                </h2>
                                <div class="block-article__text">
                                    <p>
                                        Натюрморты маслом — одна из самых традиционных и популярных техник. Она
                                        позволяет
                                        добиться глубины цвета и богатства оттенков, что идеально подходит для передачи
                                        текстуры и объема предметов.
                                    </p>
                                    <p>
                                        Масляные краски идеально подходят для создания реалистичных изображений фруктов
                                        или
                                        цветов, где важно передать естественный блеск и глубину цвета. Также с их
                                        помощью
                                        можно создавать сложные светотеневые эффекты, что придает картине реалистичность
                                        и
                                        объем.
                                    </p>
                                    <p>
                                        Натюрморты акварелью отличаются своей прозрачностью и легкостью, что позволяет
                                        создавать нежные, воздушные произведения. Эта техника требует особой ловкости и
                                        умения контролировать количество воды.
                                    </p>
                                    <p>
                                        Акварель идеальна для изображения цветов, фруктов и других предметов с тонкими
                                        переходами цвета. Она позволяет добиться эффекта прозрачности и легкости, что
                                        придает картине особую атмосферность и настроение.
                                    </p>
                                    <p>
                                        Натюрморты акрилом сочетают в себе лучшие качества масляной живописи и акварели.
                                        Они
                                        быстро сохнут, позволяют наносить как прозрачные слои, так и плотные мазки, что
                                        делает их универсальным инструментом для художников. Акриловые краски подходят
                                        для
                                        создания ярких и динамичных натюрмортов.
                                    </p>
                                </div>
                            </div>
                            <div class="block-article__column best-paintings">
                                <h2 class="title1">
                                    Лучшие картины с морским <span>пейзажем</span>
                                </h2>
                                <div class="block-article__images">
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image52.webp" alt="">
                                        <p>
                                            "Золотая осень" (1895)
                                        </p>
                                    </div>
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image53.webp" alt="">
                                        <p>
                                            "Рыбаки в море" (Уильям Тернер): Морской пейзаж, который показывает
                                            хрупкость человека.
                                        </p>
                                    </div>
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image54.webp" alt="">
                                        <p>
                                            "Впечатление. Восход солнца" (Клод Моне): Знаменитая картина, давшая
                                            название всему направлению импрессионизма.
                                        </p>
                                    </div>
                                    <div class="block-article__image">
                                        <img loading="lazy" src="img/image55.webp" alt="">
                                        <p>
                                            "Гавань Сан Марко" (Каналетто): Потрясающий вид на венецианскую гавань,
                                            выполненный с удивительной детализацией и вниманием.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__column best-artists">
                                <h2 class="title1">
                                    Лучшие художники <span>маринисты всех времен</span>
                                </h2>
                                <div class="best-artists__body">
                                    <div class="best-artists__top">
                                        <div class="best-artists__column">
                                            <div class="block-article__title">Иван Айвазовский (1817–1900)</div>
                                            <p>
                                                Российский маринист армянского происхождения, автор великолепных морских
                                                пейзажей, насыщенных светом и динамикой.
                                            </p>
                                        </div>
                                        <div class="best-artists__column">
                                            <div class="block-article__title">
                                                Алексей Боголюбов (1824–1896)
                                            </div>
                                            <p>
                                                Русский художник, пейзажист и маринист, ученик Ивана Айвазовского,
                                                известный
                                                своими картинами моря и береговой линии.
                                            </p>
                                        </div>
                                        <div class="best-artists__column">
                                            <div class="block-article__title">Уильям Тернер (1775–1851)</div>
                                            <p>
                                                Британский художник и гравёр, один из величайших представителей
                                                романтизма,
                                                известный своими морскими пейзажами и умением передавать свет и
                                                атмосферу.
                                            </p>
                                        </div>
                                        <div class="best-artists__column">
                                            <div class="block-article__title">Лев Лагорио (1827–1905)</div>
                                            <p>
                                                Русский художник, маринист и пейзажист, создавший большое количество
                                                работ
                                                на морскую тематику.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="best-artists__center">
                                        <img loading="lazy" src="img/image56.webp" alt="">
                                        <p>Пример - "Мужичок из робких" Илья Репин</p>
                                    </div>
                                    <div class="best-artists__bottom bottom-best-artists">
                                        <div class="bottom-best-artists__author">
                                            <img loading="lazy" src="img/image57.webp" alt="">
                                            <div class="bottom-best-artists__title">1. Исаак Левитан (1860-1900)</div>
                                        </div>
                                        <div class="bottom-best-artists__facts">
                                            <div class="block-article__title">
                                                3 интересных факта из биографии
                                            </div>
                                            <div class="bottom-best-artists__body">
                                                <div class="bottom-best-artists__column">
                                                    <div class="bottom-best-artists__number">1</div>
                                                    <div class="bottom-best-artists__item">
                                                        <div class="block-article__title">Дружба с Чеховым</div>
                                                        <p>
                                                            Левитан и Чехов были очень близки. Чехов даже посвятил другу
                                                            одно из своих произведений «Художник».
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bottom-best-artists__column">
                                                    <div class="bottom-best-artists__number">2</div>
                                                    <div class="bottom-best-artists__item">
                                                        <div class="block-article__title">Страсть к музыке</div>
                                                        <p>
                                                            Левитан обожал музыку, играл на скрипке и дружил со многими
                                                            известными композиторами.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bottom-best-artists__column">
                                                    <div class="bottom-best-artists__number">3</div>
                                                    <div class="bottom-best-artists__item">
                                                        <div class="block-article__title">Чувство юмора</div>
                                                        <p>
                                                            Несмотря на меланхоличный характер и свои философские
                                                            работы, Левитана знали как человека обладающего потрясающим
                                                            чувством юмора.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom-best-artists__pictures">
                                            <div class="block-article__title">
                                                3 главные картины Исаака Левитана
                                            </div>
                                            <div class="block-article__images">
                                                <div class="block-article__image">
                                                    <img loading="lazy" src="img/image58.webp" alt="">
                                                    <p class="strong">
                                                        «Золотая осень» (1895)
                                                    </p>
                                                    <p>
                                                        Этот пейзаж знает каждый житель России. Есть мнение, что
                                                        вдохновением для этой работы для Левитана был его роман с Анной
                                                        Турчаниновой.
                                                    </p>
                                                </div>
                                                <div class="block-article__image">
                                                    <img loading="lazy" src="img/image59.webp" alt="">
                                                    <p class="strong">
                                                        «Над вечным покоем» (1894)
                                                    </p>
                                                    <p>
                                                        Эту работу называют «самой русской картиной»
                                                    </p>
                                                </div>
                                                <div class="block-article__image">
                                                    <img loading="lazy" src="img/image60.webp" alt="">
                                                    <p class="strong">
                                                        «Вечерний звон» (1892)
                                                    </p>
                                                    <p>
                                                        Философская работа, на которой отображён трудный путь к Богу
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__column art-essay">
                                <div class="art-essay__body">
                                    <h2 class="title1">
                                        Место Натюрморта в живописи и его значение <span>творчестве художника</span>
                                    </h2>
                                    <div class="block-article__text">
                                        <p>
                                            Натюрморты маслом — одна из самых традиционных и популярных техник. Она
                                            позволяет добиться глубины цвета и богатства оттенков, что идеально подходит
                                            для передачи текстуры и объема предметов.
                                        </p>
                                        <p>
                                            Масляные краски идеально подходят для создания реалистичных изображений
                                            фруктов или цветов, где важно передать естественный блеск и глубину цвета.
                                            Также с их помощью можно создавать сложные светотеневые эффекты, что придает
                                            картине реалистичность и объем.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__tags">
                                <div class="block-article__tag">
                                    Реализм
                                </div>
                                <div class="block-article__tag">
                                    Интерьерные картины
                                </div>
                                <div class="block-article__tag">
                                    Абстракция
                                </div>
                                <div class="block-article__tag">
                                    Импрессионизм
                                </div>
                                <div class="block-article__tag">
                                    Поп-арт
                                </div>
                                <div class="block-article__tag">
                                    Абстракция
                                </div>
                            </div>
                            <a href="#" class="block-article__share">
                                <p>Поделиться статьей</p>
                                <div class="block-article__share-icon">
                                    <svg aria-hidden="true" width="20" height="20">
                                        <use xlink:href="img/sprite.svg#share"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-catalog block1">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title1">
                            Каталог коттеджных поселков <span>в Московской области</span>
                        </h2>
                        <div data-da=".block-catalog__content, 992, 1" class="heading-complex__icons">
                            <div class="heading-complex__icon">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#electricity"></use>
                                </svg>
                            </div>
                            <span>
                                Во всех поселках проведено электричество
                            </span>
                        </div>
                    </div>
                    <div class="block-catalog__content">
                        <div data-simplebar class="block-catalog__simplebar">
                            <div class="block-catalog__navigation">
                                <button data-category="1" type="button" class="block-catalog__title">
                                    <span>Рядом с водой</span>
                                </button>
                                <button data-category="2" type="button" class="block-catalog__title">
                                    <span>Рядом с лесом</span>
                                </button>
                                <button data-category="3" type="button" class="block-catalog__title">
                                    <span>Есть школа</span>
                                </button>
                                <button data-category="4" type="button" class="block-catalog__title">
                                    <span>Проведен газ</span>
                                </button>
                                <button data-category="5" type="button" class="block-catalog__title">
                                    <span>Общественный транспорт</span>
                                </button>
                                <button data-category="6" type="button" class="block-catalog__title">
                                    <span>Новорижское шоссе</span>
                                </button>
                                <button data-category="7" type="button" class="block-catalog__title">
                                    <span>Дмитровский район</span>
                                </button>
                                <button data-category="8" type="button" class="block-catalog__title">
                                    <span>Каширское шоссе</span>
                                </button>
                                <button data-category="9" type="button" class="block-catalog__title">
                                    <span>Дмитровское шоссе</span>
                                </button>
                                <button data-category="10" type="button" class="block-catalog__title">
                                    <span>Ленинградское шоссе</span>
                                </button>
                                <button data-category="11" type="button" class="block-catalog__title">
                                    <span>Пушкинский район</span>
                                </button>
                            </div>
                        </div>
                        <div class="block-catalog__body">
                            <div data-category="1,4,5" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image4.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            Рядом водоемы
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Проведен газ
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Общественный транспорт
                                        </div>
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Барыбино</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="1,3" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image5.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            Рядом водоемы
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Школа рядом
                                        </div>
                                    </div>
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Братовщина</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="2,4" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image6.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            В окружении леса
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Проведен газ
                                        </div>
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Калистово</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="1,4,5" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image7.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            Рядом водоемы
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Проведен газ
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Общественный транспорт
                                        </div>
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Карцево</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="1,3" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image8.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            Рядом водоемы
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Школа рядом
                                        </div>
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Кузьминское парк</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="2,4" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image9.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            В окружении леса
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Проведен газ
                                        </div>
                                    </div>
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Пахра Ривер Парк</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="1,4,5" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image10.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            Рядом водоемы
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Проведен газ
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Общественный транспорт
                                        </div>
                                    </div>
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Медведки</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="1,3" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image11.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            Рядом водоемы
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Школа рядом
                                        </div>
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">Рижские Зори</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-category="2,4" class="cart-catalog">
                                <a href="#" class="cart-catalog__images">
                                    <img loading="lazy" src="img/image12.webp" alt="">
                                    <div class="cart-catalog__tags">
                                        <div class="cart-catalog__tag">
                                            В окружении леса
                                        </div>
                                        <div class="cart-catalog__tag">
                                            Проведен газ
                                        </div>
                                    </div>
                                </a>
                                <div class="cart-catalog__item">
                                    <a href="#" class="cart-catalog__title">ЭкоКвартал Раздолье</a>
                                    <div class="cart-catalog__bottom">
                                        <div class="cart-catalog__text">
                                            <a href="#">Район Домодедово</a>
                                            <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                        </div>
                                        <div class="cart-catalog__prices">
                                            <div class="cart-catalog__price">от 149 000 р.</div>
                                            <span>Цена за сотку</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn">Смотреть все</a>
                    </div>
                </div>
            </div>

            {% include 'blocks/help-offer.njk' %}

            {% include 'blocks/ceo-text.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>