<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Каталог поселков</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner">
                <img src="img/image2.webp" alt="" class="block-banner__bg">
                <div class="container">
                    <div class="banner">
                        <img src="img/bg2.webp" alt="" class="banner__bg">
                        <div class="banner__content">
                            <div class="breadcrumbs">
                                <div class="breadcrumbs__content">
                                    <ul>
                                        <li><a href="#">Главная</a></li>
                                        <li><span>Каталог поселков</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="banner__bottom">
                                <h2 class="title1">
                                    Купить земельный участок <span>в Московской области</span>
                                </h2>
                                <div class="banner__icons">
                                    <a href="#" class="btn">Смотреть поселки на карте</a>
                                    <div class="banner__icon">
                                        <svg aria-hidden="true" width="28" height="28">
                                            <use xlink:href="img/sprite.svg#home"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-main-catalog block1">
                <div class="container">
                    <div class="block-main-catalog__content">
                        <div data-simplebar class="block-catalog__simplebar">
                            <div class="block-catalog__navigation">
                                <button data-category="1" type="button" class="block-catalog__title">
                                    <span>Рядом с водой</span>
                                </button>
                                <button data-category="2" type="button" class="block-catalog__title">
                                    <span>Рядом с лесом</span>
                                </button>
                                <button data-category="3" type="button" class="block-catalog__title">
                                    <span>Есть школа</span>
                                </button>
                                <button data-category="4" type="button" class="block-catalog__title">
                                    <span>Проведен газ</span>
                                </button>
                                <button data-category="5" type="button" class="block-catalog__title">
                                    <span>Общественный транспорт</span>
                                </button>
                                <button data-category="6" type="button" class="block-catalog__title">
                                    <span>Новорижское шоссе</span>
                                </button>
                                <button data-category="7" type="button" class="block-catalog__title">
                                    <span>Дмитровский район</span>
                                </button>
                                <button data-category="8" type="button" class="block-catalog__title">
                                    <span>Каширское шоссе</span>
                                </button>
                                <button data-category="9" type="button" class="block-catalog__title">
                                    <span>Дмитровское шоссе</span>
                                </button>
                                <button data-category="10" type="button" class="block-catalog__title">
                                    <span>Ленинградское шоссе</span>
                                </button>
                                <button data-category="11" type="button" class="block-catalog__title">
                                    <span>Пушкинский район</span>
                                </button>
                            </div>
                        </div>
                        <div class="block-main-catalog__body">
                            <div class="filter-catalog">
                                <button type="button" class="filter-catalog__button btn">Фильтры</button>
                                <div class="filter-catalog__body">
                                    <div class="filter-catalog__top">
                                        <div class="filter-catalog__title">Фильтры</div>
                                        <div class="filter-catalog__close">
                                            <svg aria-hidden="true" width="14" height="14">
                                                <use xlink:href="img/sprite.svg#plus"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="filter-catalog__content">
                                        <div class="filter-catalog__column">
                                            <div class="filter-catalog__name">Удаленность от мкад (км)</div>
                                            <div class="filter-catalog__inputs">
                                                <div class="filter-catalog__input">
                                                    <span>от</span>
                                                    <input
                                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                        autocomplete="off" type="text" name="form[]" placeholder="5"
                                                        value="5">
                                                </div>
                                                <div class="filter-catalog__input">
                                                    <span>до</span>
                                                    <input
                                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                        autocomplete="off" type="text" name="form[]" placeholder="183"
                                                        value="183">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-catalog__column">
                                            <div class="filter-catalog__name">Цена за сотку</div>
                                            <div class="filter-catalog__inputs">
                                                <div class="filter-catalog__input">
                                                    <span>от</span>
                                                    <input
                                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                        autocomplete="off" type="text" name="form[]"
                                                        placeholder="140 000" value="140 000">
                                                </div>
                                                <div class="filter-catalog__input">
                                                    <span>до</span>
                                                    <input
                                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                        autocomplete="off" type="text" name="form[]"
                                                        placeholder="2 350 480" value="2 350 480">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-catalog__column">
                                            <div class="filter-catalog__name">Направление</div>
                                            <div data-simplebar class="filter-catalog__simplebar">
                                                <div class="checkboxes">
                                                    <div class="checkbox">
                                                        <input id="c_1" class="checkbox__input" type="checkbox"
                                                            value="1" name="form[1]">
                                                        <label for="c_1" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Каширское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_2" class="checkbox__input" type="checkbox"
                                                            value="2" name="form[1]">
                                                        <label for="c_2" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Симферопольское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_3" class="checkbox__input" type="checkbox"
                                                            value="3" name="form[1]">
                                                        <label for="c_3" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Новорижское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_4" class="checkbox__input" type="checkbox"
                                                            value="4" name="form[1]">
                                                        <label for="c_4" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Ленинградское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_5" class="checkbox__input" type="checkbox"
                                                            value="5" name="form[1]">
                                                        <label for="c_5" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Дмитровское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_6" class="checkbox__input" type="checkbox"
                                                            value="6" name="form[1]">
                                                        <label for="c_6" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Ярославское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_7" class="checkbox__input" type="checkbox"
                                                            value="7" name="form[1]">
                                                        <label for="c_7" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Новорязанское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_8" class="checkbox__input" type="checkbox"
                                                            value="8" name="form[1]">
                                                        <label for="c_8" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Новорязанское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_9" class="checkbox__input" type="checkbox"
                                                            value="9" name="form[1]">
                                                        <label for="c_9" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Новорязанское</span></label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <input id="c_10" class="checkbox__input" type="checkbox"
                                                            value="10" name="form[1]">
                                                        <label for="c_10" class="checkbox__label">
                                                            <span class="checkbox__icon"></span>
                                                            <span class="checkbox__text">Новорязанское</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-catalog__column">
                                            <div class="filter-catalog__name">Район расположения</div>
                                            <div class="checkboxes">
                                                <div class="checkbox">
                                                    <input id="c_11" class="checkbox__input" type="checkbox" value="11"
                                                        name="form[2]">
                                                    <label for="c_11" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Пушкинский</span></label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_12" class="checkbox__input" type="checkbox" value="12"
                                                        name="form[2]">
                                                    <label for="c_12" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Можайский</span></label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_13" class="checkbox__input" type="checkbox" value="13"
                                                        name="form[2]">
                                                    <label for="c_13" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Клинский</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-catalog__column">
                                            <div class="filter-catalog__name">Природа</div>
                                            <div class="checkboxes">
                                                <div class="checkbox">
                                                    <input id="c_14" class="checkbox__input" type="checkbox" value="14"
                                                        name="form[3]">
                                                    <label for="c_14" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">У леса</span></label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_15" class="checkbox__input" type="checkbox" value="15"
                                                        name="form[3]">
                                                    <label for="c_15" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">У воды</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_16" class="checkbox__input" type="checkbox" value="16"
                                                        name="form[3]">
                                                    <label for="c_16" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">У водохранилища</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_17" class="checkbox__input" type="checkbox" value="17"
                                                        name="form[3]">
                                                    <label for="c_17" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">У озера</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_18" class="checkbox__input" type="checkbox" value="18"
                                                        name="form[3]">
                                                    <label for="c_18" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">У реки</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-catalog__column">
                                            <div class="filter-catalog__name">Инфраструктура</div>
                                            <div class="checkboxes">
                                                <div class="checkbox">
                                                    <input id="c_19" class="checkbox__input" type="checkbox" value="19"
                                                        name="form[4]">
                                                    <label for="c_19" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Ж/д остановка</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_20" class="checkbox__input" type="checkbox" value="20"
                                                        name="form[4]">
                                                    <label for="c_20" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Автобусная остановка</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_21" class="checkbox__input" type="checkbox" value="21"
                                                        name="form[4]">
                                                    <label for="c_21" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Магазин</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_22" class="checkbox__input" type="checkbox" value="22"
                                                        name="form[4]">
                                                    <label for="c_22" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Храм</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_23" class="checkbox__input" type="checkbox" value="23"
                                                        name="form[4]">
                                                    <label for="c_23" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Школа</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_24" class="checkbox__input" type="checkbox" value="24"
                                                        name="form[4]">
                                                    <label for="c_24" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Детский сад</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_25" class="checkbox__input" type="checkbox" value="25"
                                                        name="form[4]">
                                                    <label for="c_25" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">АЗС</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_26" class="checkbox__input" type="checkbox" value="26"
                                                        name="form[4]">
                                                    <label for="c_26" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Аптека</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_27" class="checkbox__input" type="checkbox" value="27"
                                                        name="form[4]">
                                                    <label for="c_27" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Стройматериалы</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_28" class="checkbox__input" type="checkbox" value="28"
                                                        name="form[4]">
                                                    <label for="c_28" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Конный клуб</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_29" class="checkbox__input" type="checkbox" value="29"
                                                        name="form[4]">
                                                    <label for="c_29" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Поликлиника</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_30" class="checkbox__input" type="checkbox" value="30"
                                                        name="form[4]">
                                                    <label for="c_30" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Пляж</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_31" class="checkbox__input" type="checkbox" value="31"
                                                        name="form[4]">
                                                    <label for="c_31" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Ограждение</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="c_32" class="checkbox__input" type="checkbox" value="32"
                                                        name="form[4]">
                                                    <label for="c_32" class="checkbox__label">
                                                        <span class="checkbox__icon"></span>
                                                        <span class="checkbox__text">Охрана</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn">Показать (16)</button>
                                </div>
                            </div>
                            <div class="block-main-catalog__left">
                                <div class="block-main-catalog__cards">
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image4.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Барыбино</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image5.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                            <div class="sale">
                                                149 000 руб. <span>200 000</span><br> за сотку
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Братовщина</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image7.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Карцево</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image8.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Кузьминское парк</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image10.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                            <div class="sale">
                                                149 000 руб. <span>200 000</span><br> за сотку
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Медведки</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image11.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Рижские Зори</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image4.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Барыбино</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image5.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                            <div class="sale">
                                                149 000 руб. <span>200 000</span><br> за сотку
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Братовщина</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image7.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Карцево</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image8.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Кузьминское парк</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image10.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                            <div class="sale">
                                                149 000 руб. <span>200 000</span><br> за сотку
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Медведки</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image11.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Рижские Зори</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image4.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Барыбино</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image5.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                            <div class="sale">
                                                149 000 руб. <span>200 000</span><br> за сотку
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Братовщина</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,4,5" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image7.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Проведен газ
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Общественный транспорт
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Карцево</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-category="1,3" class="cart-catalog">
                                        <a href="#" class="cart-catalog__images">
                                            <img loading="lazy" src="img/image8.webp" alt="">
                                            <div class="cart-catalog__tags">
                                                <div class="cart-catalog__tag">
                                                    Рядом водоемы
                                                </div>
                                                <div class="cart-catalog__tag">
                                                    Школа рядом
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cart-catalog__item">
                                            <a href="#" class="cart-catalog__title">Кузьминское парк</a>
                                            <div class="cart-catalog__bottom">
                                                <div class="cart-catalog__text">
                                                    <a href="#">Район Домодедово</a>
                                                    <a href="#">Каширское шоссе, 39 км от МКАД</a>
                                                </div>
                                                <div class="cart-catalog__prices">
                                                    <div class="cart-catalog__price">от 149 000 р.</div>
                                                    <span>Цена за сотку</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-help-offer block1">
                <div class="container">
                    <div class="block-help-offer__content">
                        <img loading="lazy" src="img/image29.webp" alt="" class="block-help-offer__bg">
                        <div class="block-help-offer__body">
                            <div class="block-help-offer__item">
                                <div class="block-help-offer__top">
                                    <div class="title1">
                                        Есть вопросы
                                        <br>
                                        или нужна помощь
                                        <span> с подбором участка?</span>
                                    </div>
                                    <p>
                                        Оставьте заявку, специалист свяжется с вами
                                        и бесплатно проконсультирует по всем вопросам.
                                    </p>
                                </div>
                                <form action="#" class="form">
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <input autocomplete="off" type="text" name="form[]" placeholder="Ваше имя">
                                        </div>
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[]"
                                                placeholder="Номер телефона">
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <input data-required id="c_33" class="checkbox__input" type="checkbox"
                                            value="33" name="form[5]">
                                        <label for="c_33" class="checkbox__label">
                                            <span class="checkbox__icon"></span>
                                            <span class="checkbox__text">
                                                Отправляя форму, вы подтверждаете, что ознакомились с политикой
                                                конфиденциальности и согласны на обработку персональных данных.
                                            </span>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn">
                                        Отправить заявку
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/ceo-text.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>