<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новости</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main-news block1">
                <div class="container">
                    <div class="block-main-news__content">
                        <div class="banner">
                            <img src="img/bg2.webp" alt="" class="banner__bg">
                            <div class="banner__content">
                                <div class="breadcrumbs">
                                    <div class="breadcrumbs__content">
                                        <ul>
                                            <li><a href="#">Главная</a></li>
                                            <li><span>Новости</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="banner__bottom">
                                    <h2 class="title1">
                                        Новости
                                    </h2>
                                    <div class="banner__icons">
                                        <div class="banner__icon">
                                            <svg aria-hidden="true" width="28" height="28">
                                                <use xlink:href="img/sprite.svg#news"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main-news__body">
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image23.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">Заголовок новости</div>
                                        <p>
                                            Все чаще появляется информация о том, что звук клавиш печатной машинки
                                            попахивает безумием.
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image41.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">
                                            Длинный заголовок в две строки будет выглядеть так
                                        </div>
                                        <p>
                                            Карточки имеют одинаковую длину, поэтому, описание под длинным заголовком
                                            обреза...
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image25.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">
                                            Заголовок новости
                                        </div>
                                        <p>
                                            Описание новости всегда ограничено высотой карточки, поэтому длинные
                                            описания
                                            обрезаются на третьей строке... Описание новости всегда ограничено высотой
                                            карточки, поэтому длинные описания
                                            обрезаются на третьей строке...
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image23.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">Заголовок новости</div>
                                        <p>
                                            Все чаще появляется информация о том, что звук клавиш печатной машинки
                                            попахивает безумием.
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image41.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">
                                            Длинный заголовок в две строки будет выглядеть так
                                        </div>
                                        <p>
                                            Карточки имеют одинаковую длину, поэтому, описание под длинным заголовком
                                            обреза...
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image25.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">
                                            Заголовок новости
                                        </div>
                                        <p>
                                            Описание новости всегда ограничено высотой карточки, поэтому длинные
                                            описания
                                            обрезаются на третьей строке... Описание новости всегда ограничено высотой
                                            карточки, поэтому длинные описания
                                            обрезаются на третьей строке...
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image23.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">Заголовок новости</div>
                                        <p>
                                            Все чаще появляется информация о том, что звук клавиш печатной машинки
                                            попахивает безумием.
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image41.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">
                                            Длинный заголовок в две строки будет выглядеть так
                                        </div>
                                        <p>
                                            Карточки имеют одинаковую длину, поэтому, описание под длинным заголовком
                                            обреза...
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image25.webp" alt="">
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__titles">
                                        <div class="block-sale__title">
                                            Заголовок новости
                                        </div>
                                        <p>
                                            Описание новости всегда ограничено высотой карточки, поэтому длинные
                                            описания
                                            обрезаются на третьей строке... Описание новости всегда ограничено высотой
                                            карточки, поэтому длинные описания
                                            обрезаются на третьей строке...
                                        </p>
                                    </div>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/help-offer.njk' %}

            {% include 'blocks/ceo-text.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>