<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Акции</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main-sale block1">
                <div class="container">
                    <div class="block-main-sale__content">
                        <div class="banner">
                            <img src="img/bg2.webp" alt="" class="banner__bg">
                            <div class="banner__content">
                                <div class="breadcrumbs">
                                    <div class="breadcrumbs__content">
                                        <ul>
                                            <li><a href="#">Главная</a></li>
                                            <li><span>Акции</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="banner__bottom">
                                    <h2 class="title1">
                                        Акции на земельные участки <span>в Подмосковье</span>
                                    </h2>
                                    <div class="banner__icons">
                                        <div class="banner__icon">
                                            <img src="img/percent.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main-sale__body">
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image14.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image15.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image16.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image14.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image15.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image16.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image14.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image15.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                            <div class="block-sale__slide">
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image16.webp" alt="">
                                    <div class="sale">
                                        149 000 руб. <span>200 000</span><br> за сотку
                                    </div>
                                </div>
                                <div class="block-sale__item">
                                    <div class="block-sale__title">Поселок Сбоево</div>
                                    <p>
                                        В поселке Сбоево стоимость снижена
                                        до 149 000 руб. за сотку при 100% оплате. Полная стоимость участка 1 224 220
                                        руб!
                                    </p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/help-offer.njk' %}

            {% include 'blocks/ceo-text.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>