:root {
  --container-width: 1450px;
  --container-padding: 50px;

  --temno-seryy: #363636;
  --zelenyy-akcentnyy: #556541;
  --svetlo-zelenyy: #f2f3eb;
  --belyy: #fff;
  --neaktivnyy-seryy: #737373;
  --zelenyy: #dee0d3;

  --font-family: "Manrope", sans-serif;
  --second-family: "Erewhon", sans-serif;
  --third-family: "Inter", sans-serif;
}
